// ===== TRANSITION ==== 

// 1.BUTTONS
@mixin transition($duration) {
    -webkit-transition: all $duration;
    -moz-transition: all $duration;
    -ms-transition: all $duration;
    -o-transition: all $duration;
    transition: all $duration;
}
